@charset "utf-8";

/* 메인 슬라이드 */
#main .slideOuter{
    height:810.17px;
    position:relative;
    overflow: hidden;
}
#main .slideOuter .txt{
    position:absolute;
    top: 39%;
    left:400px;   
    color:white;
}
#main .slideOuter .txt h2{
    font-size:56px;
    font-weight: 100;
    padding:20px 0;
}
#main .slideOuter .txt p{
    font-size:16px;
    line-height: 1.7;
}
#main .slideOuter .txt span{
    display: block;
}

/* infomation 박스 시작 */
#main .info {
    padding:0 0 20px;
    height: 170px;
    border-top:4px solid #21BBB1;
}
#main .info .inner li{
    float:left;
    width:25%;
    text-align: center;
    padding:30px 30px;
    line-height: 1.7;
    position: relative;
}
#main .info .inner li::after{
    content:'';
    width:1px;
    height:80px;
    background-color:#e8e5e3;
    position:absolute;
    top:50px;
    left:100%
}
#main .info .inner li h3{
    font-weight: 500;
    margin-bottom:15px;
    position:relative;
    padding-bottom:10px;
}
#main .info .inner li h3::after{
    content:'';
    width:24px;
    height: 1px;
    background-color:#ddd;
    position:absolute;
    bottom:0;
    left: 50%;
    margin-left: -12px;
}
#main .info .inner li p{
    height: 40px;
    color:#888;
}
#main .info span{
    display: block;
}

/* introduce 섹션 시작*/
#main .introduce{
    padding:80px 0;
    background-color: #f4f4f4;
}
#main .introduce .txt,
#main .works .txt{
    text-align: center;
    padding:0 10px 50px;
}
#main .introduce .txt h1,
#main .works .txt h1{
    font-size:30px;
    position:relative;
}
#main .introduce .txt h1::after,
#main .works .txt h1::after{ 
    content:'';
    width:40px;
    height:2px;
    background-color:#333;
    position:absolute;
    bottom:-25px;
    left:50%;
    margin-left:-20px
}
#main .introduce .txt p,
#main .works .txt p{
    padding:50px 0 20px;
    font-size:14px
}
#main .introduce .txt p span,
#main .works .txt p span{
    display: block;
}
#main .introduce ul li{
    float:left;
    width:33.3333%;
    text-align: center;
    padding: 50px;
    position: relative;
}
#main .introduce ul li::after{
    content:'';
    width:1px;
    height:300px;
    background-color:#e8e5e3;
    position:absolute;
    top:50px;
    left:100%
}
#main .introduce ul li:last-child::after{
    display: none;
}

#main .introduce ul li img{
    width:100px;
    height: 100px;
}
#main .introduce ul li span{
    display: block;
}
#main .introduce ul li h3{
    font-size:14px;
    margin:25px 0 15px;
    font-weight: normal;
}
#main .introduce ul li p{
    margin:10px 0 35px;
    font-size:13px;
    line-height: 1.7;
}
#main .introduce ul li p:last-child{
    background-color:#0a9188 ;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 2px;
    color:#fff;
}
#main .introduce ul li:hover p:last-child{
    color:#ffdd24
}

/* 솔루션 섹션 시작*/
.solution{
    background:url(../img/mainbanner_bg.png) no-repeat;
    padding:80px 0;
}
.solution div{
    text-align: center;
}
.solution div h2{
    font-size:30px;
    font-weight:lighter;
    margin:0 0 20px;
}
.solution div h2 span{
    display: block;
}
.solution div p{
    background-color:#0a9188 ;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 2px;
    color:#ffdd24;
    transition:all 0.3s;
}
.solution div p:hover{
    background-color:#fff;
    color:#21BBB1;
}

/* 콘텐츠 섹션 시작 */
.content .inner{
    padding:80px 0;
}
.content .cont{
    float:left;
    top:0;
    left:0;
    width:33.3333%;
    padding:15px;
    text-align: left;
    color:#333;
}
.content .cont p{
    height: 45px;
}
.content .cont1 h3,
.content .cont2 h3{
    font-size:16px;
    font-style:normal;
    padding:25px 0;
}
.content .cont1 a p,
.content .cont2 a p{
    font-size:13px;
    padding:0 0 40px;
}
.content .cont1 p:last-child,
.content .cont2 p:last-child{
    margin:25px 0 0;
    color:#6fd0ca;
}
.content .cont > a > div{
    position: relative;
}
.content .cont > a > div::before{
    transition:all 0.5s; 
    opacity: 0;
} 
.content .cont:hover > a > div::before{  /* 호버 트랜지션 안먹힘*/
    content:'';
    border: 8px solid #21BBB1;
    opacity: 1;
    position:absolute;
    top:-1px;
    bottom:-1px;
    left:-1px;
    right:-1px;
}
.content .cont3 li{
    overflow: hidden;
    padding:0 0 30px;
}
.content .cont3 img{
    float: left;
    width:122px;
    margin-right: 10px;
}

/* cont3 hover 추가하기 */


/* works 섹션 시작 */
/* works 타이틀은 introduce에 묶어둠 */
#main .works{
    padding:80px 0 0;
    background-color:#f4f4f4;
}
.works .images .section1 > a{
    width:25%;
    float:left; 
}

.works .images .section1 .imgbox{
    position: relative;
}
.works .images .section1 .imgbox .works-txt{
    color:#fff;
    position:absolute;
    top:40px;
    left:50px;
}
.works .images .section1 .imgbox .works-txt h4{
    font-size:16px;
    font-weight: normal;
    margin:0 0 10px;
}
.works .images .section1 .imgbox .works-txt p{
    font-size:13px;
    width:70%;
    line-height: 1.5;
}
.works .section1 .works-txt::before{
    content:'';
    width:2px;
    height:70px;
    background-color:#fff;
    position:absolute;
    top:-3px;
    left:-15px;
}
.works .section1 .imgbox::before{
    position:relative;
}
.works .section1 .imgbox:hover::before{
    content:'';
    border: 8px solid #21BBB1;
    opacity: 1;
    position:absolute;
    top:-1px;
    bottom:-1px;
    left:-1px;
    right:-1px;
    background-color:rgba(0,0,0,0.4)
}
.plus{
    width:50px;
    height: 50px;
    background-color:#000;
    position:fixed;
    bottom:50px;
    left:50px;
    border-radius: 25px;
    color:#fff;
    text-align: center;
    transition:all 0.3s;
}
.plus a{
    display: block;
}
.plus a:nth-child(1){
    font-size:15px;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.plus a:nth-child(2){
    opacity: 0;
}
.plus:hover{
    background-color:#21BBB1;
    width:200px;
    border-radius: 50px;
}
.plus:hover a:nth-child(1){
    opacity: 0;
}
.plus a:nth-child(2){
    line-height:50px;
}
.plus:hover a:nth-child(2){
    opacity: 1;
}