@charset "utf-8";

#loginPage .loginTop{
    background:url(../img/main_visual2.jpg);
    background-position:center 30%;
    padding:120px 0;
    font-size:44px;
    text-align: center;
    color:#fff;
    text-shadow:2px 2px 3px rgba(0,0,0,0.8);
}
#loginPage .loginBox{
    margin-bottom:50px;
}
#loginPage .loginBox h3{
    text-align: center;
    font-size: 46px;
    padding:40px 0 10px;
    font-weight: bold;
}
#loginPage .loginBox p{
    text-align: center;
    font-size:18px;
    padding:10px 0 40px;
}
.loginBox .loginWrap{
    border:1px solid #eee;
    padding:50px 0 20px;
}
.loginBox .loginForm{
    text-align: center;
    position:relative;
}
.loginBox .loginForm label{
    color:#666;
    width:100px;
    text-align: center;
}
.loginBox .loginForm input{
    border-bottom:1px solid #999;
    height: 30px;
    width:160px;
    margin-right: 150px;
}
.loginBox .loginForm button{
    color:#666;
    border:1px solid #999;
    padding:50px 20px;
    position:absolute;
    top:5px;
    right:520px;
    border-radius:2px;
    transition:all 0.3s;
}
.loginBox .loginForm button:hover{
    background-color:#eee;
    color:#222;
}
.loginWrap .idpwfind{
    color:#777;
    text-align: center;
    padding-top: 30px;
}
.loginWrap .idpwfind p{
    display: inline-block;
}
.loginWrap .idpwfind a{
    font-size:15px;
    margin:0 30px;
}